<h1><%= @friend.name %></h1></br>
 
 <p><%= @friend.birthday %> | <%= @friend.email%> | <%= @friend.phone %> | <%= "@" + @friend.x %> </p>
<br/>
<p> <%= @friend.description %> </p>
<br/>
	<table>
		<td>
			<%= link_to "Edit", edit_friend_path(@friend), class:'btn btn-warning' %> 
		</td>
		<td>
			<%= button_to "Exclude", @friend, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %>
		</td>
		<td>
	  		<%= link_to "Back", friends_path, class:'btn btn-secondary' %>
	  	</td>
	</table>

